<!-- NLog Configuration -->
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoreload="true"
	  xmlns="http://www.nlog-project.org/schemas/NLog.xsd">
	<targets>
		<target name="logfile"
				xsi:type="File"
				filename="${basedir}/ApiLog/${date:format=yyyy-MM-dd}-api.log" />
	</targets>
	<rules>
		<logger name="PGP.Api.Loggers.NLogger" minlevel="Warn" writeTo="logFile" />
	</rules>
</nlog>
<!-- End Nlog Configuration -->