<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	</configSections>
	<connectionStrings>
		<add name="PGPDatabase"
			   connectionString="Data Source=CG-002140;Initial Catalog=PGPDatabase;Integrated Security=True"
			   providerName="System.Data.SqlClient"/>
		<!--<add name="PGPDatabase" connectionString="Data Source=GABRIEL-PC\SQLEXPRESS;Initial Catalog=PgpDatabase;Password=123456;User ID=sa"/>-->
	</connectionStrings>
</configuration>